<link rel="stylesheet" href="/css/forms.css">
<link rel="stylesheet" href="/css/error.css" />
<%- include('../includes/head.ejs') %>

  </head>

  <body>
    <img class="background" src="/images/background@2x.jpg" alt="" />

    <%- include('../includes/navigation.ejs') %>

      <!-- MAIN CONTENT -->
      <main>
        <% if (products.length > 0) { %>
          <div class="container cart-products-list margin-bottom-md">
            <!-- CARD GRID -->
            <ul>
              <% products.forEach(({productData, quantity}) => { %>
                <li class="cart-products-container card card--linear margin-bottom-md">
                  <div class="cart-product-details">
                    <p class="product-title"><%= productData.title %></p>
                    <p class="product-price"><span>Quantity: </span><%= quantity %></p>
                  </div>
                  <form action="/cart-delete-item" method="post">
                    <input type="hidden" name="id" value="<%= productData.id %>">
                    <button class="submit-btn delete">Delete</button>
                  </form>
                </li>
              <% }) %>
            </ul>
          </div>
          <div class="checkout margin-bottom-sm">
            <form action="/checkout" method="get">
              <button class="submit-btn">Order Now</button>
            </form>
        <% } else { %>
          <div class="container">
            <div class="error-card card card--linear margin-bottom-sm">
              <h1 class="error-code">MT<i class="fa-sharp fa-solid fa-face-grin-beam-sweat"></i></h1>
              <p class="error-title">Your cart is empty!</p>
              <p class="error-subtitle margin-bottom-sm">
                Try adding some new products...
              </p>
            </div>
        <% } %> 

        <%- include('../includes/end.ejs') %>
